<?xml version="1.0" encoding="UTF-8"?>
<suite name="Tutorial Ninja">

    <listeners>
    
       <listener class-name="utilities.ExtentReportManager"/>

    </listeners>

    <test name="Login">
        <parameter name="browser" value="chrome"/>
        <classes>

        <!-- <class name="testCases.TC_001Registration"/>
            <class name="testCases.TC002_Login"/>-->
             <class name="testCases.TC_ContactUs"/>
           <class name="testCases.TC_003_LoginDDT"/>
           

        </classes>
    </test>


</suite>